body {
    background-color: blue;
}

.container {
    display: grid;
    grid-template-columns: 20rem 20rem 20rem;
    height: 20rem;
    column-gap: 5%;
    justify-content: center;
    margin-top: 40vh;
    margin-bottom: 40vh;
}

.box1 {
    animation-name: box1;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.box2 {
    animation-name: box2;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.box3 {
    animation-name: box3;
    animation-duration: 40s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

@keyframes box1 {
    0% {
        background-color: #f8f8f8;
    }
    10% {
        background-color: #cacaca;
    }
    20% {
        background-color: #aaaaaa;
    }
    30% {
        background-color: #747474;
    }
    40% {
        background-color: #707070;
    }
    50% {
        background-color: #535353;
    }
    60% {
        background-color: #5c5c5c;
    }
    70% {
        background-color: #8d96df;
    }
    80% {
        background-color: #5062ee;
    }
    90% {
        background-color: blue;
    }
    100% {
        background-color: blue;
    }
}

@keyframes box2 {
    0% {
        background-color: #f8f8f8;
    }
    10% {
        background-color: #cacaca;
    }
    20% {
        background-color: #aaaaaa;
    }
    30% {
        background-color: #747474;
    }
    40% {
        background-color: #707070;
    }
    50% {
        background-color: #535353;
    }
    60% {
        background-color: #5c5c5c;
    }
    70% {
        background-color: #8d96df;
    }
    80% {
        background-color: #5062ee;
    }
    90% {
        background-color: blue;
    }
    100% {
        background-color: blue;
    }
}

@keyframes box3 {
    0% {
        background-color: #f8f8f8;
    }
    10% {
        background-color: #cacaca;
    }
    20% {
        background-color: #aaaaaa;
    }
    30% {
        background-color: #747474;
    }
    40% {
        background-color: #707070;
    }
    50% {
        background-color: #535353;
    }
    60% {
        background-color: #5c5c5c;
    }
    70% {
        background-color: #8d96df;
    }
    80% {
        background-color: #5062ee;
    }
    90% {
        background-color: blue;
    }
    100% {
        background-color: blue;
    }
}

.box:hover {
    cursor: grabbing;
    animation-play-state: paused;
}

@media only screen and (max-width: 600px) {
    .container {
        grid-template-columns: 10rem;
        height: 38rem;
        max-height: 38rem;
        row-gap: 10%;
        margin-top: 12rem;
    }
}